.repo-container {
  background: $color-buble-bg;
  color: #000;
  border-radius: 5px;
  min-height: 100px;

  .repo-info {
    flex: 1;

    .repo-name {
      color: $color-bg;
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}
