.git-user-box {
  border-radius: 5px;
  background: $color-buble-bg;
  color: $color-bg;

  .user-avatar {
    border-radius: 50%;
    border: 2px solid #000;
    width: 30px;
    height: 30px;
  }

  .user-login {
    flex: 1;
  }
}
