@import "~bootstrap/scss/bootstrap";

* {
	padding: 0;
	margin: 0;
}

$color-bg: #040018;
$color-buble-bg: #f2f0e9;

body, #root {
	background-color: $color-bg;
	color: #fff;
	min-height: 100vh;

	.pointer {
		cursor: pointer;
	}
}

@import "./gitUser";
@import "./gitRepo";
